
/* Header */

.codrops-header {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding: 1em;
	z-index: 100;
}

.codrops-header__title {
	font-size: 1em;
	font-weight: 400;
	margin: 0;
	padding: 0 1em 0 0.25em;
	color: #fff;

}


/* Top Navigation Style */

.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	font-size: 0.85em;
}

.codrops-links::after {
	content: '';
	height: 100%;
	width: 1px;
	background: currentColor;
	position: absolute;
	transform: rotate(22.5deg);
	left: 50%;
	top: 0;
}



/* Demo links */

.demos {
	margin: 0 1em 0 auto;
}

.demo {
	margin: 0 1em 0.5em 0;
	padding: 0 0 0.25em;
	border-bottom: 2px solid transparent;
}

.demos .demo--current {
	border-color: currentColor;
}

/* Content */

.content {
	text-align: center;
}

.content--full {
	height: 100vh;
	min-height: 600px;
	overflow: hidden;
}

.flexy {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.flexy--center {
	justify-content: center;
}

.flexy--row {
	flex-direction: row;
}


/* Slideshow */

.slideshow {
	position: relative;
	width: 100%;
	height: calc(100vh - 5.5em);
}

.slide {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 0 1em 0;
	pointer-events: none;
}

.js .slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	margin: 0;
	pointer-events: none;
	opacity: 0;
}

.js .slide--current {
	pointer-events: auto;
	opacity: 1;
}

.slide__title {
	font-family: 'Futura';
	font-weight: normal;
	position: relative;
	z-index: 10;
	font-size: 10vw;
	margin: 0;
	line-height: 0.8;
	color: #8dbd2b;
	pointer-events: none;
}

.slide .mirror {
	position: absolute;
	top: 50%;
	width: 100%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.slideshow__nav {
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-end;
	bottom: 0;
	right: 0;
	padding: 0 2em 1em;
	overflow: hidden;
}

.slideshow__nav--inline {
	display: block;
	top: 30vh;
	left: 0;
	width: 100%;
	pointer-events: none;
}

.slideshow__nav--inline .btn {
	display: inline-block;
	margin: 0 1em;
	pointer-events: auto;
}

.slideshow__nav--nopad {
	padding: 0;
}

.btn {
	border: 0;
	background: 0;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	padding: 0.25em 0;
	margin: 0.5em 0 0.75em;
	color: inherit;
	border-bottom: 2px solid transparent;
	transition: border-color 0.3s;
}

.btn:focus {
	outline: none;
}

.btn--current {
	border-color: currentColor;
}

.btn--nav:last-child {
	margin-bottom: 0;
}

.btn--line {
	width: 100%;
	text-align: right;
	padding: 0.15em 30px 0.15em 0;
	transition: color 0.3s;
}

.btn--line::before {
	content: '';
	width: 10px;
	height: 2px;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: -1;
	margin-top: -1px;
	background: #ffb74d;
	transition: transform 0.3s;
}

.btn--line.btn--current {
	border-color: transparent;
	color: #fff;
}

.btn--line.btn--current::before {
	transform: scale3d(26, 20, 1);
}

.btn--play {
	top: 70vh;
	left: 50%;
	color: #ffb74d;
	font-size: 3em;
	transform: translateX(-50%);
	position: absolute;
	transition: color 0.3s;
}

.btn--play:hover {
	color: #fff;
}

.link--sponsor {
	position: absolute;
	left: 0;
	margin: 0 0 2em 2em;
	bottom: 0;
}

.page-title {
	font-family: 'Oswald', sans-serif;
	position: absolute;
	top: 25vh;
	pointer-events: none;
	text-align: center;
	width: 100%;
	padding: 0 1em;
	margin: 0;
	font-size: 2em;
	letter-spacing: 0.2em;
	text-indent: 0.2em;
	text-transform: uppercase;
	color: #fff;
}

/*.overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: #A8A9C8 url(../images/bg.jpg);
	background-size: cover;
}*/

/* Themes */

.demo-1 .page-title {
	z-index: 10;
	font-size: 0.85em;
    font-family: inherit;
    letter-spacing: 0.5em;
    text-indent: 0.5em;
    top: 38vh;
}

.demo-1 .slide:first-child .slide__title,
.demo-1 .slideshow__nav .btn:first-child {
	color: #facb7a;
}

.demo-1 .slide:nth-child(2) .slide__title,
.demo-1 .slideshow__nav .btn:nth-child(2) {
	color: #d06690;
}

.demo-1 .slide:nth-child(3) .slide__title,
.demo-1 .slideshow__nav .btn:nth-child(3) {
	color: #9ccc65;
}

.demo-1 .slide:nth-child(4) .slide__title,
.demo-1 .slideshow__nav .btn:nth-child(4) {
	color: #90a4ae;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		justify-content: center;
	}
	.link--sponsor {
		width: 100%;
		margin: 0;
		padding: 1em;
	}
	.demos {
		width: 100%;
		margin: 1em 0 0;
	}
	.page-title {
		font-size: 1.25em;
	}
	.slideshow__nav {
		width: 100%;
		padding: 0;
		bottom: auto;
		top: 0;
		display: block;
	}
	.page-title {
		top: 8em;
	}
	.demo-3 .slide__title {
		font-size: 2em;
	}
	.btn {
		width: auto;
		padding: 0;
		display: inline-block;
		margin: 0.15em;
	}
	.btn--line::before {
		display: none;
	}
	.btn--current.btn--line::before {
		transform: none;
		display: block;
		top: auto;
		bottom: -0.5em;
		width: 100%;
	}
}


/*Mirror CSS*/
.mirror {
	width: 60vw;
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.mirror[data-layout="vertical"] {
	flex-direction: row;
	flex-wrap: wrap;
}

.mirror__side {
	flex: none;
	overflow: hidden;
	width: 50%;
	display: flex;
	align-items: flex-end;
}

.mirror[data-layout="vertical"] .mirror__side{
	height: 50%;
	width: 100%;
}

.mirror__img {
	display: block;
	width: 100%;
	transform: translate3d(100%,0,0);
}

.mirror[data-layout="vertical"] .mirror__img {
	transform: translate3d(0,100%,0);
}

.mirror__side--two {
	transform: scale3d(-1,1,1);
}

.mirror[data-layout="vertical"] .mirror__side--two {
	transform: scale3d(1,-1,1);
}
